@font-face
  font-family 'muller_narrowextrabold_italic'
  src url('assets/fonts/mullernarrow-extrabolditalic-webfont.woff2') format('woff2'),
      url('assets/fonts/mullernarrow-extrabolditalic-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'muller_narrowlight'
  src url('assets/fonts/mullernarrow-light-webfont.woff2') format('woff2'),
      url('assets/fonts/mullernarrow-light-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'muller_narrowlight_italic'
  src url('assets/fonts/mullernarrow-lightitalic-webfont.woff2') format('woff2'),
      url('assets/fonts/mullernarrow-lightitalic-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'muller_narrowextrabold'
  src url('assets/fonts/mullernarrow-extrabold-webfont.woff2') format('woff2'),
      url('assets/fonts/mullernarrow-extrabold-webfont.woff') format('woff')
  font-weight normal
  font-style normal
